.logoFirefox {
  width: 130px;
  height: 40px;
}

.nav-link {
  font-size: 17px;
  font-weight: bold;
  margin-left: 70px;
}

.h3Header {
  margin-top: 25px;
  font-size: 50px;
  line-height: 1.1;
  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-weight: 700;
}

.pHeader {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 1.1;
  font-family: Inter, X-LocaleSpecific, sans-serif;
}

#buttonAccess {
  background-color: #ff5255;
  color: white;
  width: 135px;
  height: 35px;
  font-size: 15px;
  border-radius: 4px;
}

.bi {
  margin-right: 7px;
  margin-bottom: 4px;
}

.bloqueBusqueda {
  display: flex;
  justify-content: center;
}

#boxSearch {
  margin-right: 125px;
}

#buttonSearch {
  padding-left: 55px;
}

#headerH1 {
  background-image: url("https://images5.alphacoders.com/883/883579.png");
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
}

#aPopulars {
  padding-bottom: 50px;
}

#imagesBlocks {
  height: auto;
  width: auto;
}

#buttonPopular {
  height: 50px;
  width: 200px;
}

.pCursosDown {
  font-size: 12px;
}

#imgCursosDown {
  margin-top: 8px;
  height: 130px;
  width: 320px;
}

.pvpStrike {
  font-size: 12px;
}

#buttonBuy {
  height: 60px;
  width: 60px;
}
#columnPVP {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#linksFooter {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logosFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

#blockLastFooterLeft {
  margin-left: 35px;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  font-size: 13px;
}

#blockLastFooterRight {
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
}

#textFooterCurses {
  font-size: 15px;
}
