.container {
  display: flex;
  background-color: red;
  padding: 10px;
  flex-direction: column;
  width: 400px;
  height: 400px;
}
.block {
  background-color: white;
}
.block:nth-child(1) {
  align-self: flex-start;
}
.block:nth-child(2) {
  align-self: flex-end;
}
.block.block:nth-child(3) {
  align-self: center;
}
